# Ignore all files
*
# except
!.gitignore
!cygwinConfig.vbs
!CygwinTerminal.vbs
!XWinServer.vbs
!CygwinPortable.au3
!CygwinPortable.exe
!CygwinPortable.ini
# and these directories
!App/
!Other/
!Resources/